@using RS1_P120_MobitelShop.Models
@using RS1_P120_MobitelShop.Areas.ModulAdministracija

<div id="page-wrapper">
    <div style="margin-left: 250px; margin-right: 30px">

        <h2>Upravljanje dobavljačima mobitel shopa</h2>
        <a href="/ModulAdministracija/Dobavljaci/Prikazi" class="btn btn-primary" style="margin: 5px;width: 180px">Prikaži dobavljače</a>
        <br />
        <a href="/ModulAdministracija/Dobavljaci/Dodaj" class="btn btn-primary" style="margin: 5px;width: 180px">Dodaj dobavljača</a>
    </div>
</div>