@using RS1_P120_MobitelShop.Models
@using RS1_P120_MobitelShop.Areas.ModulAdministracija

<div id="page-wrapper">
    <div style="margin-left: 250px; margin-right: 30px">

        <h2>Upravljanje artiklima mobitel shopa</h2>
        <a href="/ModulAdministracija/Artikal/Prikazi" class="btn btn-primary" style="margin: 5px;width: 180px">Prikaži artikle</a>
        <br />
        <a href="/ModulAdministracija/Artikal/Dodaj" class="btn btn-primary" style="margin: 5px;width: 180px">Dodaj artikal</a> 
    </div>
</div>