@using RS1_P120_MobitelShop.Models
@using RS1_P120_MobitelShop.Areas.ModulAdministracija

<div id="page-wrapper">
    <div style="margin-left: 250px; margin-right: 30px">

        <h2>Upravljanje administratorima sistema</h2>
        <a href="/ModulAdministracija/Administratori/Prikazi" class="btn btn-primary" style="margin: 5px;width: 180px">Prikaži administratore</a>
        <br />
        <a href="/ModulAdministracija/Administratori/Dodaj" class="btn btn-primary" style="margin: 5px;width: 180px">Dodaj administratora</a>
    </div>
</div>