@{

    Layout = null;
}
<div>
    <pre>
        Hi Sir/Madam
        We just need to verify your Email address to complete your registration!
        Click <a href="@ViewBag.ConfirmationLink">Here</a>
    </pre>
</div> 